<!-- <div class="marquee"><p>Note:Insert/Update the data carefully </p></div> -->
 <div>
    <marquee behavior="alternate" direction="left" [scrollAmount]="20" [loop]="">Insert/Update the data carefully</marquee>
 </div>
<div class="page">
    <ul><li  class="first">
    <div class="flight">
        <a  routerLink="/flight">Flight</a>

    </div>
    <div class="history">
        <a routerLink="/history">History</a>

    </div>
</li>
<li class="second">

    <div class="schedule">
        <a routerLink="/schedule">Schedule</a>

    </div>
    <div class="city">
        <a routerLink="/city">City</a>

    </div>
    <!-- <marquee behavior="scroll" direction="right">hello i am here</marquee> -->
</li>
</ul>
</div>
